.App {
  text-align: center;
  background-color: #282c34;
  min-height: 120vh;
  color: white;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(4px + 2vmin);
}

ul {
  list-style: none;
  text-align: left;
}

li {
  margin: 10px 0;
}

.swatch {
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: text-bottom;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
